*.orig
*.rej
*.o
*.a
README
bin/
keepalived.spec
Dockerfile
*~
*.swp
.dir-locals.el
keepalived-*.tar.gz


# http://www.gnu.org/software/automake
Makefile
Makefile.in

# http://www.gnu.org/software/autoconf
/autom4te.cache/
/autoscan.log
/autoscan-*.log
/aclocal.m4
/build-aux/
/config.cache
/config.h.in
/config.log
/config.status
/configure.scan
/lib/stamp-h[12]

.deps/

/tmp/
/devel/
/private/

# To be able to build without automake/autoconf comment out the following
/lib/config.h.in
/configure

# For snap builds
parts/
prime/
stage/
keepalived*.snap
