*.orig
*.rej
*.o
*.a
README
bin/
keepalived.spec
*~
*.swp
.dir-locals.el
keepalived-*.tar.gz


# http://www.gnu.org/software/automake
Makefile
Makefile.in

# http://www.gnu.org/software/autoconf
/ar-lib
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.cache
/config.h.in
/config.log
/config.status
/configure.scan
/depcomp
/install-sh
/missing
stamp-h?

.deps/

/tmp/
/devel/

# To be able to build without automake/autoconf comment out the following
lib/config.h.in
/configure

# For snap builds
parts/
prime/
stage/
keepalived*.snap

# mkosi
/arch.raw
/.#arch.raw.lck
/arch.raw.cache-pre-dev
/arch.raw.cache-pre-inst
/debian.raw
/.#debian.raw.lck
/debian.raw.cache-pre-dev
/debian.raw.cache-pre-inst
/centos.raw
/.#centos.raw.lck
/centos.raw.cache-pre-dev
/centos.raw.cache-pre-inst
/fedora.raw
/.#fedora.raw.lck
/fedora.raw.cache-pre-dev
/fedora.raw.cache-pre-inst
/image.raw
/.#image.raw.lck
/image.raw.cache-pre-dev
/image.raw.cache-pre-inst
/opensuse.raw
/.#opensuse.raw.lck
/opensuse.raw.cache-pre-dev
/opensuse.raw.cache-pre-inst
/ubuntu.raw
/.#ubuntu.raw.lck
/ubuntu.raw.cache-pre-dev
/ubuntu.raw.cache-pre-inst
/.mkosi-*
/mkosi.cache/
/mkosi.output/
