Source: keepalived
Section: admin
Priority: optional
Maintainer: Alexander Wirt <formorer@debian.org>
Build-Depends: debhelper (>> 4.1.0), libssl-dev, libpopt-dev, textutils, cdbs
Standards-Version: 3.6.1

Package: keepalived
Section: admin
Architecture: any
Depends: ${shlibs:Depends}, ipvsadm
Description: Failover and monitoring daemon for LVS clusters
 keepalived is used for monitoring real servers within a Linux
 Virtual Server (LVS) cluster.  keepalived can be configured to
 remove real servers from the cluster pool if it stops responding,
 as well as send a notification email to make the admin aware of
 the service failure.
 .
 In addition, keepalived implements an independent Virtual Router
 Redundancy Protocol (VRRPv2; see rfc2338 for additional info)
 framework for director failover.
 .
 Note that keepalived is compiled with the expectations of being
 used on a Linux 2.4.x or 2.6.x system.
