#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_EXTRA_FLAGS := --with-kernel-dir=$(CURDIR)/debian

binary-install/keepalived::
	rm -rf $(DEB_DESTDIR)/etc/keepalived/samples
	rm -rf $(DEB_DESTDIR)/etc/init.d/keepalived.init
	rm -rf $(DEB_DESTDIR)/usr/man

